.container #btn0 {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container #btn1 {
    position: absolute;
    top: 50%;
    left: 61%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  body {
      background-color: black;
  }

  #txt {
    position: absolute;
    top: 35%;
    left: 31%;
    color: whitesmoke;
    font-size: x-large;
  }