.container #btn0 {
    position: absolute;
    top: 95%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container #btn1 {
    position: absolute;
    top: 95%;
    left: 58%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #txt {
    position: absolute;
    top: 86%;
    left: 42%;
    color: black;
    font-weight: 800;
  }

