.container #btn0 {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  .container #btn1 {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #txt {
    position: absolute;
    top: 65%;
    left: 25%;
    font-size: larger;
    color: white;
    text-align: center;

}

  body {
      background-color: rgb(104, 104, 104);
  }
