.container #btn0 {
    position: absolute;
    top: 69%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

  .container #btn1 {
    position: absolute;
    top: 69%;
    left: 58%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

  #username {
    position: absolute;
    top: 45%;
    left: 35%;
    color: white;
    font-weight: 800;
  }

  #txt {
    position: absolute;
    top: 55%;
    left: 38%;
    color: white;
    font-weight: 800;
    font-size: x-large;

  }


body {
  background-color: black;
}