.container #btn0 {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

  .container #btn1 {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 1px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }


  #txt {
    position: absolute;
    top: 40%;
    left: 38%;
    color: white;
    font-weight: 800;
    font-size: x-large;

  }


body {
  background-color: black;
}

button:hover {
  animation: overSaturation 1s infinite;
}

#gameOver {
  width: 50%;
  margin-left: 25%;
  /* margin-left: 26%; */
  animation: 
  fadeIn 2s cubic-bezier(0.0, 0.45, 0.85 ,1.0), 
  zoomIn 1s cubic-bezier(.48,.47,.68,1.36),
  deadSaturation 2s ;
}


/* Animations ------------------------------------------------------------------------*/
@keyframes fadeIn {
  from {opacity: 0%;}
  to {opacity:100%;}
}

/* shake is a random movement   */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, 1px) rotate(0deg); }
}

@keyframes zoomIn {
  from { transform: scale(0);}
  to { transform: scale(1);}
}

@keyframes deadSaturation {
  from {filter: saturate(0);}
  to {filter: saturate(1);}
}

@keyframes overSaturation {
  from {filter: saturate(.75);}
  50% {filter:saturate(1.5)}
  to {filter: saturate(.75);}
}